/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    input {
        width: 452px;
        background: #0f183e;
        border: 1px solid #55585b;
        border-radius: 22px;
        padding: 28px;
        font-size: 22px;
        color: #55585b;
    }
    #contact h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 67px;
        line-height: 100px;
        font-weight: 700;
        padding-top: 15px;
        margin-left: 98px;
    }
    #contact .img img {
        border-radius: 44px;
        position: absolute;
        top: 150px;
        left: 442px;
    }
    .flower_img img {
        position: absolute;
        top: 13%;
        left: 78%;
        transform: translate(5%, -16%);
        /* top: 0px; */
        /* left: 0px; */
    }
    .discussproject a {
        /* margin-top: 250px; */
        padding: 44px 126px;
        border-radius: 64px;
        background: black;
        color: #ffffff;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: -0.28px;
    }
    .writemsg a {
        /* margin-top: 250px; */
        padding: 44px 116px;
        background: #ffffff;
        color: #171718;
        border-radius: 64px;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.28px;
    }
    #footer h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 94px;
        line-height: 110px;
        letter-spacing: -2px;
        font-weight: 700;
        padding: 0 130px;
        text-align: center;
        text-transform: capitalize;
        margin-left: 20px;
    }
    .behance {
        position: static;
    }
    .dribbble {
        position: static;
    }
    .instagram {
        position: static;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #contact h3 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-left: 67px;
    }
    #contact h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 80px;
        line-height: 103px;
        font-weight: 700;
        padding-top: 15px;
        margin-left: 65px;
        padding-right: 150px;
    }
    #contact .img img {
        border-radius: 44px;
        position: absolute;
        top: 150px;
        left: 486px;
    }
    .flower img {
        padding-top: 35px;
        position: relative;
        padding-left: 40%;
    }
    .flower_img img {
        position: absolute;
        top: 13%;
        left: 74%;
        transform: translate(-363%, 142%);
        /* top: 0px; */
        /* left: 0px; */
    }
    .email h4 {
        font-family: "DM Sans", sans-serif;
        color: #55585b;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-left: 69px;
    }
    .email a {
        font-family: "Antic Didone", serif;
        color: #55585b;
        font-size: 36px;
        line-height: 18px;
        font-weight: 600;
        padding-top: 150px;
        margin-left: 68px;
        position: relative;
        background: linear-gradient(to right, violet, rgb(253, 5, 5), rgb(44, 5, 219));
        -webkit-background-clip: text;
        color: transparent;
    }
    input {
        width: 693px;
        background: #0f183e;
        border: 1px solid #55585b;
        border-radius: 22px;
        padding: 28px;
        font-size: 22px;
        color: #55585b;
    }
    .button a {
        background: #020b18;
        border: 1px solid #55585b;
        border-radius: 45px;
        padding: 32px 158px 26px;
        font-size: 21px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        /* margin-top: 50px; */
        margin-left: 126px;
    }
    #footer h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 61px;
        line-height: 110px;
        letter-spacing: -2px;
        font-weight: 700;
        padding: 0 77px;
        text-align: center;
        text-transform: capitalize;
        margin-left: 20px;
    }
    .discussproject {
        margin-bottom: 140px;
    }
    .discussproject a {
        /* margin-top: 250px; */
        padding: 44px 248px;
        border-radius: 64px;
        background: black;
        color: #ffffff;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: -0.28px;
    }
    .writemsg a {
        /* margin-top: 250px; */
        padding: 44px 238px;
        background: #ffffff;
        color: #171718;
        border-radius: 64px;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.28px;
    }
    .behance {
        position: static;
        margin-bottom: 30px;
    }
    .dribbble {
        position: static;
        margin-bottom: 30px;
    }
    .instagram {
        position: static;
        margin-bottom: 30px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #contact h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 65px;
        line-height: 77px;
        font-weight: 700;
        padding-top: 15px;
        margin-left: 44px;
    }

    #contact h3 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-left: 45px;
    }

    .flower img {
        padding-top: 27px;
        position: relative;
        padding-left: 194px;
    }

    /* .flower {
    position: relative;
} */
.flower_img img {
	position: absolute;
	top: 11%;
	left: 41%;
	transform: translate(28%, 125%);
	/* top: 0px; */
	/* left: 0px; */
}

    #contact .img img {
        border-radius: 44px;
        position: absolute;
        top: 144px;
        left: 370px;
        width: 159px;
    }

    .email h4 {
        font-family: "DM Sans", sans-serif;
        color: #55585b;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-left: 8px;
    }

    .email a {
        font-family: "Antic Didone", serif;
        color: #55585b;
        font-size: 36px;
        line-height: 18px;
        font-weight: 600;
        padding-top: 150px;
        margin-left: 7px;
        position: relative;
        background: linear-gradient(to right, violet, rgb(253, 5, 5), rgb(44, 5, 219));
        -webkit-background-clip: text;
        color: transparent;
    }

    input {
        width: 513px;
        background: #0f183e;
        border: 1px solid #55585b;
        border-radius: 22px;
        padding: 28px;
        font-size: 22px;
        color: #55585b;
    }
    .button {
        margin-top: 80px;
        margin-left: 126px;
    }
    #footer h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 73px;
        line-height: 98px;
        letter-spacing: -2px;
        font-weight: 700;
        padding: 0px;
        text-align: center;
        text-transform: capitalize;
        margin-left: 20px;
    }
    .discussproject {
        margin-bottom: 131px;
    }
    .behance {
        position: static;
        margin-bottom: 25px;
        margin-left: 220px;
    }
    .dribbble {
        position: static;
        margin-bottom: 25px;
         margin-left: 220px;
    }
    .instagram {
        position: static;
        margin-left: 220px;
    }
    .behance .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
    .dribbble .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
    .instagram .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) and (min-width:320px) {
    #contact h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        padding-top: 15px;
        margin-left: 6px;
    }

    #contact h3 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin-left: 7px;
    }

    .flower img {
        padding-top: 27px;
        position: relative;
        padding-left: 90px;
    }

    /* .flower {
    position: relative;
} */
    .flower_img img {
        position: absolute;
        top: 11%;
        left: 41%;
        transform: translate(0%, -3%);
        /* top: 0px; */
        /* left: 0px; */
    }

    #contact .img img {
        border-radius: 44px;
        position: absolute;
        top: 141px;
        left: 197px;
        width: 120px;
    }

    .email h4 {
        font-family: "DM Sans", sans-serif;
        color: #55585b;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-left: 8px;
    }

    .email a {
        font-family: "Antic Didone", serif;
        color: #55585b;
        font-size: 36px;
        line-height: 18px;
        font-weight: 600;
        padding-top: 150px;
        margin-left: 7px;
        position: relative;
        background: linear-gradient(to right, violet, rgb(253, 5, 5), rgb(44, 5, 219));
        -webkit-background-clip: text;
        color: transparent;
    }

    input {
        width: 295px;
        background: #0f183e;
        border: 1px solid #55585b;
        border-radius: 22px;
        padding: 28px;
        font-size: 22px;
        color: #55585b;
    }
    #footer{
        margin-left: 0px !important;
    }
    #footer h2 {
        font-family: "Antic Didone", serif;
        color: #ffffff;
        font-size: 38px;
        line-height: 80px;
        letter-spacing: 0px;
        font-weight: 700;
        padding: 0 0px;
        text-align: center;
        text-transform: capitalize;
        /* margin-left: 20px; */
    }
    .buttonText {
        margin-top: 72px;
    }
    .discussproject{
        margin-bottom: 100px;
    }
    .discussproject a {
        /* margin-top: 250px; */
        padding: 34px 48px;
        border-radius: 64px;
        background: black;
        color: #ffffff;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: -0.28px;
    }
    .writemsg a {
        /* margin-top: 250px; */
        padding: 31px 39px;
        background: #ffffff;
        color: #171718;
        border-radius: 64px;
        font-family: "DM Sans", sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.28px;
    }
    .linkPart {
        padding-top: 109px;
    }
    .behance {
        position: static;
    }
    .dribbble {
        position: static;
    }
    .instagram {
        position: static;
    }
    .link .col-lg-4{
        padding-bottom: 40px;
    }
    .copyright h6 span {
        font-weight: 400;
        color: #ffffff;
        font-size: 15px;
    }
    .copyright {
        padding-top: 0px;
    }
    .linkPart {
        padding-top: 109px;
        padding-left: 104px;
    }
    .behance .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
    .dribbble .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
    .instagram .logo i {
        color: #ffffff;
        /* border: 1px solid black; */
        background: rgb(3, 3, 170);
        border-radius: 50%;
        /* height: 50px; */
        /* width: 50px; */
        padding: 20px;
        /* text-align: center; */
        margin-left: 20px;
        margin-top: 10px;
    }
}