* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#contact {
    padding-top: 100px;
    padding-bottom: 135px;
    background: #0f183e;
    position: relative;
    scroll-behavior: smooth;
}

#contact h3 {
    font-family: "Antic Didone", serif;
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    margin-left: 100px;
}

#contact h3::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background: #ffffff;
    bottom: 6px;
    left: 131px;
}

#contact h2 {
    font-family: "Antic Didone", serif;
    color: #ffffff;
    font-size: 80px;
    line-height: 100px;
    font-weight: 700;
    padding-top: 15px;
    margin-left: 100px;
}

#contact .img img {
	border-radius: 44px;
	position: absolute;
	top: 150px;
	left: 595px !important;
}

.flower img {
    padding-top: 70px;
    position: relative;
}

/* .flower {
    position: relative;
} */
.flower_img img {
	position: absolute;
	top: 13%;
	left: 74%;
	transform: translate(-2%, -13%);
	/* top: 0px; */
	/* left: 0px; */
}
.email {
    padding-top: 40px;
}

.email h4 {
    font-family: "DM Sans", sans-serif;
    color: #55585b;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 100px;
}

.email a {
    font-family: "Antic Didone", serif;
    color: #55585b;
    font-size: 36px;
    line-height: 18px;
    font-weight: 600;
    padding-top: 150px;
    margin-left: 100px;
    position: relative;
    background: linear-gradient(to right, violet,
            rgb(253, 5, 5),
            rgb(44, 5, 219));
    -webkit-background-clip: text;
    color: transparent;
}

.email a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 140px;
    top: 195px;
    left: 0;
    background: linear-gradient(to left, rgb(110, 2, 110),
            rgb(252, 8, 8),
            rgb(0, 119, 255));
}

.submit {
    padding-top: 40px;
}
.submit h5{
    color: #b7b7c5;
    font-weight: 400;
}
h6{
    padding-top: 70px;
    font-family: "Antic Didone", serif;
    color: white;
    font-size: 24px;
    line-height: 18px;
    font-weight: 600;
}
.branding p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;   
}
.branding p:hover{
    background: black;
    /* border: 1px solid white; */
    border-radius: 43px;
    /* color: black; */
}
.webdesign p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.webdesign p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.appdesign p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.appdesign p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.logo p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.logo p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.marketing p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.marketing p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.development p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.development p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.iosdevelopment p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.iosdevelopment p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.designconcept p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.designconcept p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.other p{
    font-family: "DM Sans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    border: 1px solid #55585b;
    border-radius: 43px;
    text-align: center;
    margin-top: 25px;
}
.other p:hover{
    background: black;
    /* border: 1px solid red; */
    border-radius: 43px;
}
.quote p{
    padding-top: 80px;
    font-family: "Antic Didone", serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
}
input{
    width: 545px;
    background: #0f183e;
    border:1px solid #55585b;
    border-radius: 22px;
    padding: 28px;
    font-size: 22px;
    color: #55585b;
}
.email input{
    width: 100%;
}
textarea{
    margin-top: 40px;
    background: #0f183e;
    border:1px solid #55585b;
    border-radius: 22px;
    padding: 28px;
    font-size: 22px;
    color: #55585b;
    width: 100%;
    resize: none;
}
.budget p{
    margin-top: 70px;
    font-family: "Antic Didone", serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 18px;
    font-weight: 700;
}
.price p{
    background: #0f183e;
    border:1px solid #55585b;
    border-radius: 44px;
    padding: 18px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    margin-top: 30px;
}
.price p:hover{
    background: black;
}
.button a{
    background: #020b18;
    border:1px solid #55585b;
    border-radius: 45px;
    padding: 37px 71px 31px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    /* margin-top: 50px; */
}
.button{
    margin-top: 80px;
}
.button a:hover{
    background: #ffffff;
    color: #020b18;
}
#footer{
    background: #0f183e;
    /* text-align: center; */
    padding-bottom: 10px;
}
#footer h2{
    font-family: "Antic Didone", serif;
    color: #ffffff;
    font-size: 100px;
    line-height: 110px;
    letter-spacing: -2px;
    font-weight: 700;
    padding: 0 130px;
    text-align: center;
    text-transform: capitalize;
    margin-left: 20px;
}
.discussproject a{
    /* margin-top: 250px; */
    padding: 44px 150px;
    border-radius: 64px;
    background: black;
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.28px;
}
.writemsg a{
    /* margin-top: 250px; */
    padding: 44px 140px;
    background: #ffffff;
    color: #171718;
    border-radius: 64px;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.28px;
}
.buttonText{
    margin-top: 150px;
}
.copyright{
    padding-top: 20px;
}
/* .copyright h6{
    font-weight: 400px;
    color: #ffffff;
} */
.copyright h6 span{
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
}
.linkPart{
    padding-top: 200px;
}
.behance h5{
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
}
.behance .col-lg-3{
    width: 75%;
}
.behance .logo i{
    color: #ffffff;
    /* border: 1px solid black; */
    background: rgb(3, 3, 170);
    border-radius: 50%;
    /* height: 50px;
    width: 50px; */
    padding: 20px;
    /* text-align: center; */
}
.dribbble .col-lg-3{
    width: 75%;
}
.dribbble .logo i{
    color: #ffffff;
    /* border: 1px solid black; */
    background: rgb(3, 3, 170);
    border-radius: 50%;
    /* height: 50px;
    width: 50px; */
    padding: 20px;
    /* text-align: center; */
}
.instagram .col-lg-3{
    width: 75%;
}
.instagram .logo i{
    color: #ffffff;
    /* border: 1px solid black; */
    background: rgb(3, 3, 170);
    border-radius: 50%;
    /* height: 50px;
    width: 50px; */
    padding: 20px;
    /* text-align: center; */
}
.behance a{
    color: #ffffff;
}
.behance{
    position: relative;
}
.behance:hover{
    border:1px solid black;
    background: black;
    border-width: 20px;
    
}
.dribbble h5{
    font-family: "DM Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
}
.dribbble a{
    color: #ffffff;
}
.dribbble{
    position: relative;
}
.dribbble:hover{
    border:1px solid black;
    background: black;
    border-width: 20px;
    
}
.dribbble::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 336px;
    background: black;
    bottom: 75px;
    left: 0px;
}
.instagram h5{
    font-family: "DM Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
}
.instagram a{
    color: #ffffff;
}
.instagram{
    position: relative;
}
.instagram:hover{
    border:1px solid black;
    background: black;
    border-width: 20px;
    
}
.instagram::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 336px;
    background: black;
    bottom: 75px;
    left: 0px;
}
.behance::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 336px;
    background: black;
    bottom: 75px;
    left: 0;
}